.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
}

.page.theme_dark {
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme_dark .header__title,
.theme_dark .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme_dark .header__description {
  color: var(--bg-color);
}

.theme_dark .dark-theme-decoration,
.theme_dark .dark-theme-decoration::after {
  display: block;
}

.theme_dark .title-decor {
  background-color: var(--accent-color);
}

.theme_dark .section__title {
  color: var(--accent-color);
}

.theme_dark .decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .link:focus-visible {
  border: 1px solid currentColor;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .link:hover {
  border-bottom: 1px solid currentColor;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255 0 112 / 0.40);
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme_dark .card-title {
  color: var(--bg-color)
}

.theme_dark .article__group-container-description {
  color: var(--bg-color)
}

.theme_dark .article__group-title {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --accent-color: #ff0070;
  }

  .page {
    color: currentColor;
    background-image: var(--bg-image);
  }

  .header__title,
  .footer__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__description {
    color: var(--bg-color);
  }

  .dark-theme-decoration,
  .dark-theme-decoration::after {
    display: block;
  }

  .title-decor {
    background-color: var(--accent-color);
  }

  .article__group-title {
    color: var(--accent-color);
  }

  .decorated-zone::after {
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }

  .link:hover {
    border-bottom: 1px solid currentColor;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(255 0 112 / 0.40);
  }

  .link:focus-visible {
    border: 1px solid currentColor;
  }
  
  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
  }

  .card-title {
    color: var(--bg-color)
  }

  .article__group-container-description {
    color: var(--bg-color)
  }
}