.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
}

.page.theme_light {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.theme_light .header__title,
.theme_light .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme_light .header__description {
  color: var(--text-color)
}

.theme_light .dark-theme-decoration,
.theme_light .dark-theme-decoration::after {
  display: none;
}

.theme_light .title-decor {
  background-color: var(--accent-color);
}

.theme_light .section__title {
  color: currentColor;
}

.theme_light .decorated-zone::after {
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
}

.theme_light .decorated-zone::before {
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
}

.theme_light .header__theme-menu-button {
  color: currentColor;
}

.theme_light .link:focus-visible {
  border: 1px solid currentColor;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.theme_light .link:hover {
  border-bottom: 1px solid currentColor;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50 49 45 / 0.4);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.theme_light .card-title {
  color: currentColor;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
  }

  .page {
    color: currentColor;
    background-color: var(--bg-color);
    background-image: var(--bg-image);
  }

  .header__title,
  .footer__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__description {
    color: var(--text-color)
  }

  .dark-theme-decoration,
  .dark-theme-decoration::after {
    display: none;
  }

  .title-decor {
    background-color: var(--accent-color);
  }

  .article__group-title {
    color: currentColor;
  }

  .decorated-zone::after {
    border-inline-start: 1px solid currentColor;
    border-block-end: 1px solid currentColor;
  }

  .decorated-zone::before {
    border-inline-end: 1px solid currentColor;
    border-block-start: 1px solid currentColor;
  }

  .header__theme-menu-button {
    color: currentColor;
  }

  .header__theme-menu-button_active {
    border: 1px solid currentColor;
  }

  .theme_light .card-title {
    color: currentColor;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50 49 45 / 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid currentColor;
  }

  .link:hover {
    border-bottom: 1px solid currentColor;
  }
}
