/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 40% auto 40%;
  padding: 20px;
  min-block-size: 100vh;
}

.header__title {
  align-self: center;
  margin-inline-start: -20px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.825;
}

.title-decor {
  background-color: var(--accent-color);
}

.header__description {
  justify-self: end;
  align-self: center;
  color: #000028;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  inline-size: min(calc(50vw - 20px), 491px);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  justify-self: end;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  justify-self: start;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.card__list {
  display: grid;
  flex-basis: 70%;
  gap: 20px;
}

.section__title {
  width: calc(35% - 10px);
  padding-block-end: 20px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

@media (width < 800px) {

  .header__theme-menu {
    justify-content: flex-end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .card__list {
    display: flex;
    flex-direction: column;
  }

  .section__title {
    width: 35%;
  }
}

@media (width < 850px) {

  .header {
    grid-template-rows: 45% auto 45%;
  }
}

.section__description {
  color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.dark-theme-decoration {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
}

.dark-theme-decoration::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-button {
  height: 28px;
  border: none;
  padding: 0 13px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.content {
  padding: 60px 20px 0;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section__list:not(:last-child) {
  display: grid;
  padding-bottom: 80px;
}

.section__title-middle {
  width: 30%;
}

.content__section {
  padding-block-end: 80px;
}

.gallery__section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-end: 60px;
}

.section__list-element {
  display: flex;
  gap: 20px;
}

.gallery__section-title {
  margin-block-end: 20px;
  color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.card__list-middle {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 1.3;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width < 600px) {

  .section__list {
    gap: 50px;
  }

  .section__list:not(:last-child) {
    padding-bottom: 50px;
  }

  .header__description {
    inline-size: 100%;
  }

  .header {
    grid-template-rows: 35% auto 35%;
    padding: 10px;
  }

  .section__list-element {
    flex-direction: column;
    gap: 0;
  }

  .section__title {
    width: 100%;
  }

  .content {
    padding: 40px 10px 0;
  }

  .content__section {
    padding-block-end: 50px;
  }  

  .gallery__section-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block-end: 40px;
  }

  .gallery__section-title {
    margin-block-end: 10px;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .dark-theme-decoration {
    top: 10px;
    right: 38px;
  }
}

.link {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  filter: drop-shadow(2px 2px var(--accent-color));
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 20px;
}

.card-title {
  color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.card-text {
  padding-block-start: 10px;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.gallery__section-element-one {
  grid-column: 1 / 3;
}

.gallery__section-element-two {
  grid-row: 1 / 3;
  grid-column-start: 3;
}

.gallery__section-element-three {
  grid-row: 2 / 4;
}

.gallery__section-element-four {
  grid-column-start: 2;
}

.gallery__section-element-five {
  grid-column: 2 / 4;
}

.gallery__section-picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

