/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono';
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
  }
  .page {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--bg-image);
  }
  .header__title,
  .footer__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .dark-theme-decoration,
  .dark-theme-decoration::after {
    display: none;
  }

  .title-decor {
    background-color: var(--accent-color);
  }

  .section__title {
    color: var(--text-color);
  }

  .decorated-zone::after {
    border-inline-start: 1px solid var(--text-color);
    border-block-end: 1px solid var(--text-color);
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--text-color);
    border-block-start: 1px solid var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --accent-color: #ff0070;
  }

  .page {
    background-image: var(--bg-image);
    color: var(--text-color);
    background-image: var(--bg-image);
  }

  .header__title,
  .footer__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .dark-theme-decoration,
  .dark-theme-decoration::after {
    display: block;
  }

  .title-decor {
    background-color: var(--accent-color);
  }

  .section__title {
    color: var(--accent-color);
  }

  .decorated-zone::after {
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }
}
